:root {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	color: #354657;
}

body{
  margin: 0 auto;
}

/*Header*/

header{
  background-color: #F8F4FC;
}

.header__container{
  margin: 0 auto;
  width: 80%;
}

.header-firstline{
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu{
  padding-right: 16rem;
}

.top-menu a{
  text-decoration: none;
  font-weight: 700;
  padding-right: 2.5rem;
  color: #354657;
}

.top-icons a{
  padding-right: 2rem;
}

.header__breadcrumbs{
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  color: #626262;
}

.header__breadcrumbs a{
  color: #626262;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}

/*Content*/

.content__background{
  width: 100%;
  background-image: url(../img/Group\ 1.png);
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.content{
  width: 80%;
  margin: 0 auto;
}

.content__header h1{
  font-size: 30px;
  padding-top: 70px;
  padding-bottom: 17px;
  margin: 0;
  border-bottom: 1px solid #E2E2E2;
}

.contact-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.contact-information{
  width: 30%;
  background-color: #F0F2F5;
  padding-left: 23px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 45px;
}

.contact-information h3{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 7px;
}

.contact-section{
  display: flex;
  height: inherit;
  align-content: flex-start;
  align-items: center;
  margin-top: 35px;
}

.contact-icon{
  margin-right: 17px;
  border: 1px solid #D6D9DE;
  border-radius: 50%;
  width: 61px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-adress a{
  text-decoration: none;
  color: #354657;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.our-phone a, .our-mail a{
  color: #946FD3;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.btn{
  background-color: #946FD3;
  width: 90%;
  height: 54px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.btn a{
  color: white;
  text-decoration: none;
  font-size: 16px;
	font-weight: 700;
}

.map{
  width: 65%;
}

/*Footer*/

footer{
  margin-top: 150px;
  border-top: 1px solid #E2E2E2;
}

.footer__container{
  margin: 0 auto;
  width: 80%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links{
  margin-right: 250px;
}

.footer-links a{
  text-decoration: none;
  color: #354657;
  font-size: 16px;
  font-weight: 700;
  margin-left: 40px;
}

.social-links a{
  margin-left: 17px;
}

.doterra{
  margin-left: 40px;
}