@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

body{
  margin: 0;
  color: #354657;
}
.header {
  width: 100%;
  background-color: #f8f4fc;
  min-height: 117px;
}
.header_container {
  max-width: 1220px;
  margin: 0px auto;
  width: 80%;
}

.header_container_main,
.header_container_nav,
main {
  font-family: --font-raleway, sans-serif;
  color: #354657;
}

.header_container_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_box {
  width: 20%;
}

.logo > img:first-child {
  width: 100px;
}

.title {
  width: 200px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__items {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  list-style-type: none;
  padding-left: 0px;
  width: 40%;
}
li {
  padding-right: 2rem;
}

.icons img {
  width: 2rem;
  padding-right: 1em;
}

.icons img:last-child {
  width: 1.3rem;
  padding-bottom: 0.4rem;
  margin-left: 0.5em;
}

.header_container_nav {
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-size: small;
  color: #626262;
  font-style: normal;
  line-height: 16px;
  text-decoration: underline;
}

.header_container_nav img {
  height: 100%;
}
.header_container_nav .arrow {
  padding-top: 0.3em;
}

.container{
  margin: 0 auto;
  width: 85%;
}

.main{
  display: flex;
  margin-top: 40px;
}

.menu{
  width: 35%;
  margin-right: 30px;
}

.product{
  width: 65%;
}

h2{
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 17px;
  font-style: 1.5rem;
}

h3{
  font-size: 1rem;
  margin: 0 0 20px 0;
}

/*Menu*/

.hello{
  background-color: #F0F2F5;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 0.8rem;
}

.info{
  background-color: #F0F2F5;
  padding: 20px;
  font-size: 0.7rem;
}

.info label{
  display: block;
  margin-top: 20px;
}

.info input{
  display: block;
  margin-top: 10px;
  width: 89%;
  padding: 11px 20px;
}

.info__delivery{
  margin-top: 20px;
}

/*Product*/

.product__delivery{
  background-color: #F0F2F5;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 0.8rem;
}

.product__price{
  background-color: #F0F2F5;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 0.8rem;
}

/*Table*/

.table-list{
  width: 100%;
  text-transform: uppercase;
  border-collapse: collapse;
  font-size: 0.7rem;
}

.table-list td{
  padding: 10px;
  text-align: left;
}

.table-list td div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.numbers{
  width: 30px;
  height: 25px;
}

.gray-light{
  background-color: #F0F2F5;
  font-weight: bold;
  margin-top: 30px;
  padding: 20px;
  font-size: 0.7rem;
}

.tdbold{
  font-weight: bold;
  text-align: right !important;
}

.product__pay{
  background-color: #F0F2F5;
  margin-top: 30px;
  padding: 20px;
  font-size: 0.7rem;
}

.product__pay label{
  font-size: 0.8rem;
}

.btpurpe{
  color: white;
  font-weight: bold;
  background-color: #946FD3;
  border-radius: 50px;
  padding: 20px;
  width: 200px;
  border: none;
}

.btcheckbox-pay{
  margin-top: 15px;
}

.btpurpe-pay{
  display: flex;
  justify-content: flex-end;
  margin-top: 29px;
}

.btpurpe:active{
  background-color: white;
  color: #946FD3;
  border: 1px solid #946FD3;
}

::placeholder{
  color: #ADA8A8;
  font-size: 14px;
}

.comments{
  padding: 10px;
  max-width: 95%;
  line-height: 1.5;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  resize: none;
  outline: none;
}

.radiocastom{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radiocustom-1{
  margin-right:15px ;
}

footer {
  border-top: 1px solid grey;
  min-height: 97px;
  width: 100%;
  margin-top: 5rem;
}

.footer__container {
  max-width: 1220px;
  margin: 0px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons_socials img {
  padding-left: 1rem;
}


@media screen and (max-width:850px){
  .main{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }
  .menu{
    width: 100%;
    margin-right: 25px;
  }
  .product{
    width: 100%;
  }
}