body{
  font-family: AdobeInvisFont,MyriadPro-Regular;
}

.header{
  display: flex;
  flex-direction: row;   
  height: 236px;
  width: 751px;    
}

.a {
  width: 200px;
  background-color:#2D7053; 
  padding:0px;
  font-size: 1.67rem;
}

.g{
  width: 351px;
  padding:0px;
  padding-top: 63px;
  background-color:#2D7053; 
}

.text{
  display: block;
  padding-left: 37px;
  padding-top: 52px;
  color: white;
}

.menu{
  display: block;
  margin-left: auto;
  margin-right: 44px;
}

.img{
  background-color: rgba(0, 0, 0, 0.7);
  width: 751px;
  position: relative;
}

.btn{
  text-align: center;
  margin: 0px;
  position: absolute;
  top: 373px;
  left: 50%;
  width: 341px;
  height: 74px;
  transform: translate(-50%,-50%);
  background-color: orange;
  color: white;
  font-size: 1.4rem;
  border: none;
  text-transform: uppercase;
}

.whiteblock1{
  width: 707px;
  padding-top: 73px;
  padding-left: 44px;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.photo{
  display: block;
  width: 247px;
  height: 247px;
  border-radius: 50%;
  overflow: hidden;
}

.q{
  display: block;
  padding-left: 75px;
  padding-top: 61px;
  font-size: 2rem;
}

.sp{
  font-size: 1.5rem;
  display: block;
  padding-left: 75px;
  padding-top: 29px;
}

.whiteblock2{
  width: 707px;
  padding-top: 60px;
  padding-left: 44px;
  background-color: white;
}

.aboutpsychologist{
  width: 751px;
  font-size: 1.5rem;
}

.whiteblock3{
  width: 751px;
  background-color: white;
}

.d{
  display: block;
  padding-left: 44px;
  padding-top: 46px;
  padding-bottom: 43px;
  font-size: 2rem;
}

.whiteblock4{
  width: 751px;
  position: relative;

  background-color: white;
}

.list{
  display: inline-block;
  vertical-align: top;
  font-size: 1.5rem;
  list-style-position: inside;
  padding-left: 44px;
  margin: 0;
}

.footer{
  display: flex;
  flex-direction: row;
  height: 168px;
  width: 752px;
}

.f{
  width: 381px;
  background-color: #888888;;
padding: 0;
font-size: 1rem;
color: white;
padding-top: 103px;
padding-left: 140px;
}

.j{
  width: 185px;
  background-color: #888888;
  padding: 0px;
  font-size: 1rem;
  color: white;
}

.center{
  display: block;
  margin-right: 44px;
  padding-top: 57px;
}

.center1{
  display: block;
  margin-right: 44px;
  padding-top: 28px;
}

.c{
  width: 142px;
  height: 142px;
  background-color: white;
  border-radius: 50%;
}

.c2{
  width: 99px;
  height: 99px;
  background-color: white;
  border-radius: 50%;
}

.c1{
  display: inline-block;
  margin-left: 37px;
  margin-right: 58px;
  padding-top: 47px;
}

.c3{
  display: inline-block;
  margin-left: 44px;
  margin-right: auto;
  padding-top: 29px;
}

.g > div{
  border-bottom: 15px solid white;
  width: 100px;
  margin-top: 1rem;
  border-radius: 7px;
}

.e {
  width: 185px;
  background-color:#888888; 
  padding:0px;
  font-size: 1rem;
  color: white;
}


.btn2{
  height: 167px;
  position: relative;
}

.btn2-1{
text-align: center;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
width: 341px;
height: 74px;
transform: translate(-50%,-50%);
background-color: orange;
color: white;
font-size: 1.4rem;
border: none;
text-transform: uppercase;
}

a:link{
  color: white;
}

